.modal-content {
    background-color: var(--cor-border-secundario);
    border-radius: 10px;
    padding: 10px;
}

.modal-title,
.col-form-label {
    color: var(--cor-texto-primario);
}

.form-control {
    background-color: var(--bg-secundario);
    border-radius: 10px;
    border: 1px solid var(--cor-border-secundario);
    color: var(--cor-texto-primario);
}

.form-control:hover {
    background-color: var(--bg-secundario-hover);
    border: 1px solid var(--cor-border-secundario-hover);
    color: var(--cor-texto-primario-hover);
}

.form-control:focus {
    background-color: var(--bg-secundario-hover);
    border: 1px solid var(--cor-border-secundario-hover);
    color: var(--cor-texto-primario-hover);
}

.divFoto-editarPerfil {
    width: 80px;
    height: 80px;
    background-color: black;
    border-radius: 50%;
    margin: 0 auto;
}