
#botao-voltar-home{
    color: var(--cor-texto-primario);
    font-size: 16px;
    cursor: pointer;
}

#botao-voltar-home:hover{
    color: var(--cor-texto-primario-hover);
}

#btn-mudar-senha{
    margin-bottom: 10px;
}