.area-comentario-do-usuario{
    background-color: var(--bg-secundario);
    padding: 10px;
}

.area-comentario-usuario{
    display: flex;
    justify-content:space-between;
}

.area-comentario-usuario .texto-comentario{
    margin-right: 20px;
    width: 80%;
    background-color: var(--cor-border-secundario);
    border-radius: 10px;
    padding: 5px;
    color: var(--cor-texto-primario);
}

.area-comentario-usuario .botao-comentario{
    width: 20%;
    box-sizing: border-box;
    background: var(--cor-botao-primario);
    border-radius: 10px;
    border: none;
    font-family: 'Quicksand', sans-serif;
    color: var(--cor-texto-primario);
    font-weight: bold;
    font-size: 1em;
    /*padding-left: 30px;
    padding-right: 30px;*/
}

.area-comentario-do-usuario h5{
    font-family: 'Quicksand', sans-serif;
    color: var(--cor-texto-primario);
}