.post {
    border-radius: 10px;
    border: 1px solid black;
    padding: 10px 15px;
    margin-bottom: 10px;
}

.fotoPerfilPost {
    background-color: rgb(236, 15, 15);
    padding: 50px;
    border-radius: 100%;
}

.usuarioPost {
    float: left;
}

.cabecalhoPost {
    height: 50px;
}

.relevancia {
    float: right;
    display: flex;
    width: 200px;
    justify-content: space-around;
}

.texto {
    border-radius: 10px;
    border: 1px solid black;
    padding: 10px 15px;
}