.post {
    border-radius: 10px;
    border: 1px solid var(--cor-border-secundario);
    padding: 10px 15px;
    margin-bottom: 10px;
    background-color: var(--bg-secundario);
}

.post:hover {
    background-color: var(--bg-secundario-hover);
    border: 1px solid var(--cor-border-secundario-hover);

}

.fotoPerfilPost {
    background-color: rgb(236, 15, 15);
    padding: 40px;
    border-radius: 100%;
}

.usuarioPost {
    float: left;
}

.cabecalhoPost {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.relevancia {
    float: right;
    display: flex;
    flex-direction: column;
}

.relevanciaTopo{
    display: flex;
    justify-content: space-between;
}

.texto {
    border-radius: 10px;
    border: 1px solid black;
    padding: 10px 15px;
    margin-bottom: 10px;
}

.nomeUsuarioPost{
    margin-left: 15px;
}

