.post {
    border-radius: 10px;
    border: 1px solid var(--cor-border-secundario);
    padding: 10px 15px;
    margin-bottom: 10px;
    background-color: var(--bg-secundario);
}

.post:hover {
    background-color: var(--bg-secundario-hover);
    border: 1px solid var(--cor-border-secundario-hover);
}

.fotoPerfilPost {
    background-color: #0d6efd;
    width: 70px;
    height: 70px;
    padding: 1px;
    border-radius: 100%;
}

.usuarioPost {
    float: left;
}

.cabecalhoPost {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.relevancia {
    float: right;
    display: flex;
    flex-direction: column;
}

.relevanciaTopo{
    display: flex;
    justify-content: space-between;
    color: var(--cor-texto-primario);
}

.post .texto {
    border-radius: 10px;
    border: 1px solid var(--cor-border-secundario);
    color: var(--cor-texto-primario);
    padding: 10px 15px;
    margin-bottom: 15px;
}

.nomeUsuarioPost{
    margin-left: 15px;
    color: var(--cor-texto-primario);
}

.rodapePost{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.btn-delete{
    color: var(--cor-botao-delete);
    float: left;
}