.cardPerfil{
    padding: 10px;
    border: 1px solid var(--cor-border-secundario);
    border-radius: 10px;
    background-color: var(--cor-bg-secundario);
}

.fotoPerfil{
    width: 80px;
    height: 80px;
    background-color: black;
    border-radius: 100%;
}

.divFoto{
    float: left;
    display: inline;
    padding: 10px;
}

.divInfoUsuario{
    padding: 25px 0;
}

.linkSair{
    float: right;
    color: var(--cor-texto-primario);
    text-decoration: none;
}

.nomeUsuario{
    font-size: 1em;
    color: var(--cor-texto-primario);
}

.bioUsuario{
    font-size: 0.9em;
    color: var(--cor-texto-primario);
}

.branco{
    color: aliceblue;
    border: 1px solid var(--cor-border-secundario);
}